
#page_auth{

  display: flex;

  align-items: stretch;

  height: 100vh;
}
#page_auth aside{
 
  flex: 7;
    background: #835afd;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 7.5rem 5rem;
  }

 

  #page_auth aside img{
    max-width: 20rem;
  }
  #page_auth aside  strong{
    font: 700 2.25rem 'Poppins', san-serif;
    line-height: 2.625rem;
    margin-top: 1rem;
  }

  #page_auth aside  p{
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 1rem;
    color: #f8f8f8;
  }

#page_auth  main{
  flex: 8;

  padding:  0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  }

.main_content{
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 20rem;

  align-items: stretch;/*esticar os elementos para caber no container*/
  text-align: center;
}
.main_content img{
  align-self: center;/*para nao esticar a logo*/
}
.create_room{
  margin-top: 4rem;
  height: 3.125rem;
  border-radius: .5rem;
  font-weight: 500;
  background: #ea4335;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border: 0;

  transition: filter .2s;

}
.create_room:hover{
  filter: brightness(.9);/*escurecer um pouco*/
}
.create_room img{
  margin-right: .5rem;
}

form input{
  height: 3.125rem;
  border-radius: 0.5rem;
  padding: 0 1rem;
  background: #fff;
  border:  solid #a8a8b3;
  box-sizing: border-box;/*nao deixa o elemento ultrapassar o tamanho do pai*/
}
form button{
  margin-top: 1rem;
}

form input,button{
  width: 100%;
}

.separator{
  font-size:0,875rem;
  color: #a8a8b3;

  margin: 2rem 0;
  display: flex;
  align-items: center;
}

.separator::before{
  content: '';
  flex: 1;
  height: 0.0625rem;
  background: #a8a8b3;
  margin-right: 1rem;
  
}
.separator::after{
  content: '';
  flex: 1;
  height: 0.0625rem;
  background: #a8a8b3;
  margin-left: 1rem;
}

.button_tema{
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 2rem;
  border: .0625rem solid #201b2c;
  background: #201b2c;

  color: #fff;
}


#page_auth .dark{
 
    
  background: #201b2c;
  color: #fff;

  flex: 8;

  padding:  0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
