
#page_room header{
  padding: 1.5rem;
  border-bottom: .0625rem solid #e2e2e2;
}
 .content{
  max-width: 70rem;
   margin: 0 auto;

   display: flex;
   justify-content: space-between;
   align-items: center;
}
 .content img{
  max-height: 2,8125rem;
}
.content div{
  display: flex;
  gap: 1rem;
}
.content div button{
  height: 2.5rem;
}

main{
  max-width: 50rem;
  margin: 0 auto;

}
.room_title{
  margin: 2rem 0 1.5rem;

  display: flex;
  align-items: center;
}
.room_title h1{
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: #29292e;
}

.room_title span{
  margin-left: 1rem;
  background: #e559f9;
  border-radius: 50rem;
  padding: .5rem 1rem;
  color: #fff;
  font-weight: 500;
  font-size: .875rem;
}

form textarea{
  width: 100%;
  border: 0;
  padding: 1rem;
  border-radius: .875rem;
  background: #fefefe;
  box-shadow: 0 .125rem .3rem rgba(0, 0, 0, .64);
  resize: vertical;
  min-height: 8.625rem;
}

.form_footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.form_footer span{
  font-size: .875rem;
  color: #737380;
  font-weight: 500;
  
}

.form_footer span a{
  background: transparent;
  border: 0;
  color: #835afd;
  text-decoration: underline;
  font-size: .875rem;
  font-weight: 500;
  cursor: pointer;
}

.user_info{
  display: flex;
  align-items: center; 
}
.user_info img{
  width: 2rem;
  height: 2rem;

  border-radius: 50%;
}
.user_info span{
  margin-left: .5rem;
  color: #29292e;
  font-weight: 500;
  font-size: .875rem;
}

.question_list{
  margin: 1rem 0;
}

.dark_AdminRoom{
  background: #201b2c;
  height: 100vh;
  overflow-y: auto;
}

.dark_AdminRoom main h1 {
  color: #fff;
}
.dark_AdminRoom main form span{
  color: #fff;
}
.dark_AdminRoom header .content img{
  
    padding: 0.5rem;
    border-radius: 30%;
}
